@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  position: relative;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

.header {
  margin-bottom: 20px;
  width: 30%;
}

.logo {
  width: 100%;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4%;
  margin-top: 80px;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .recipes {
    grid-template-columns: repeat(1, 1fr);
  }
}

.selectors {
  display: flex;
  gap: 20px;
  align-self: flex-start;
}

.select {
  width: 200px;
}
.select__label {
  font-weight: bold;
}
.select-wrapper {
  user-select: none;
}
.select__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 11px 0 11px 19px;
  margin-bottom: 5px;
  height: 69px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.select__trigger_ingredients {
  background-color: #3282f7;
}
.select__trigger_appareils {
  background-color: #68d9a4;
  left: 200px;
}
.select__trigger_ustensiles {
  background-color: #ed6454;
}
.select__input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  width: 80%;
  height: 100%;
  font-size: 1.1rem;
}
.select__input::placeholder {
  color: white;
  font-size: 1.1rem;
}
.select__input:focus::placeholder {
  opacity: 0;
}

#select_appareils {
  left: 275px;
}

#select_ustensiles {
  left: 483px;
}

.custom-options {
  max-width: 800px;
  color: white;
  columns: 3;
  left: 0;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  padding: 0 10px 18px;
}

.select.open .custom-options,
.select.open .list-bg {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  display: block;
  line-height: 2.5rem;
  font-size: 20px;
  color: white;
  padding: 0 20px;
  border: none;
  position: relative;
}
.custom-option:focus {
  z-index: 100;
}
.custom-option:hover {
  cursor: pointer;
  background-color: rgba(231, 231, 231, 0.5);
  border-radius: 2px;
}
.custom-option_last {
  border-radius: 0 0 7px 7px;
}
.custom-option_ingredients {
  background-color: #3282f7;
}
.custom-option_appareils {
  background-color: #68d9a4;
}

.no-btm-border-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

label[for=medias-sort] {
  font-size: 1.25rem;
  font-weight: bold;
}

.arrow {
  position: relative;
  height: 9.88px;
  width: 16px;
}
.arrow-container {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.2rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -1px;
  transform: rotate(-45deg);
  background-color: white;
}
.arrow::after {
  left: 5px;
  transform: rotate(45deg);
  background-color: white;
}

.open .arrow::before {
  left: -1px;
  transform: rotate(45deg);
}
.open .arrow::after {
  left: 5px;
  transform: rotate(-45deg);
}

.list-bg {
  min-width: 640px;
  max-width: 800px;
  max-height: 660px;
  border-radius: 5px;
  transition: all 0.5s;
  opacity: 0;
  z-index: 20;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
}
.list-bg_ingredients {
  background-color: #3282f7;
}
.list-bg_appareils {
  background-color: #68d9a4;
  left: 0;
}
.list-bg_ustensiles {
  background-color: #ed6454;
  left: 0;
}

.hidden {
  display: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 20px;
  border: 8px solid transparent;
  background-clip: content-box;
}

.tags__error {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  line-height: 3rem;
  padding-top: 15px;
}

.search {
  background-color: #e7e7e7;
  border-radius: 5px;
  height: 69px;
  padding: 7px 25px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 90vw;
  margin-bottom: 20px;
}
.search:hover {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1), -1px -1px 5px 0 rgba(0, 0, 0, 0.1);
}
.search__form {
  width: 100%;
}
.search__form_searchbar {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background-color: #e7e7e7;
  border: none;
}
.search__form_searchbar::placeholder {
  color: #a2a2a2;
}

.recipe-card {
  height: 364px;
  width: 380px;
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
}
.recipe-card__image {
  height: 178px;
  background: #c7bebe;
}
.recipe-card__recipe {
  height: 186px;
  background: #e7e7e7;
  display: flex;
  padding: 20px;
}
.recipe-card__left {
  display: flex;
  flex-direction: column;
}
.recipe-card__left__title {
  padding-bottom: 20px;
}
.recipe-card__right {
  width: 189px;
  display: flex;
  flex-direction: column;
}
.recipe-card__right__duration {
  align-self: flex-end;
  padding-bottom: 20px;
}
.recipe-card__right__description {
  height: 109px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.fa-clock {
  padding-right: 5px;
}

.snackbar {
  background: #3282f7;
  color: white;
  padding: 30px 35px;
  position: fixed;
  top: 30px;
  right: 40px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1.2px;
  animation: fade 3s forwards;
  font-family: "Roboto", sans-serif;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.hidden {
  display: none;
}

.tags {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.tag {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 15px;
  margin-right: 15px;
  border: none;
  border-radius: 7px;
  background-color: #3282f7;
  font-size: 1.2rem;
}
.tag > *:first-child {
  padding: 15px 10px;
  text-align: center;
  flex-grow: 2;
  margin-right: 5px;
}
.tag > *:last-child {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.tag_ingredients {
  background-color: #3282f7;
}
.tag_appliance {
  background-color: #68d9a4;
}
.tag_ustensils {
  background-color: #ed6454;
}

.error {
  color: red;
  margin-right: auto;
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 20px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1240px;
  max-width: 90vw;
  margin: auto;
  margin-top: 50px;
}

/*# sourceMappingURL=style.css.map */
