@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

$primary-color: #e7e7e7;
$secondary-color: #3282f7;
$tertiary-color: #68d9a4;
$quaternary-color: #ed6454;

$body-font-family: 'Lato', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
$line-height: 21.6px;

$selectors-gap: 20px;
$selector-width: 200px;
