@use '../layout/header';
@use '../layout/recipes';
@use '../components/selector';
@use '../components/search';
@use '../components/recipe-card';
@use '../components/snackbar';
@use '../components/tags';
@use '../components/error';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1240px;
  max-width: 90vw;
  margin: auto;
  margin-top: 50px;
}
