.error {
  color: #d04f4f;
  margin-right: auto;
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 20px;
  &-tag {
    z-index: 10;
    position: relative;
    top: -20px;
  }
}
