@use '../utils/variables' as *;

.recipe-card {
  font-size: $base-font-size * 0.8;
  font-family: $body-font-family;
  height: 364px;
  width: 380px;
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
  opacity: 0;
  transition: opacity 150ms ease-in;
  cursor: pointer;
  &:hover {
    transition: all 0.1s linear;
    opacity: 0.7;
  }
  &__image {
    height: 178px;
    background: #c7bebe;
  }
  &__recipe {
    height: 186px;
    background: $primary-color;
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    &__title {
      padding-bottom: 20px;
      font-size: $base-font-size * 1;
    }
  }
  &__right {
    width: 189px;
    display: flex;
    flex-direction: column;
    &__duration {
      align-self: flex-end;
      padding-bottom: 20px;
      font-size: $base-font-size * 0.9;
      font-weight: $base-font-weight * 1.5;
    }
    &__description {
      height: 85px;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      line-height: 12px;
    }
  }
}

.fa-clock {
  padding-right: 5px;
}

.fadein {
  opacity: 1;
}
