@use '../utils/variables' as *;

.selectors {
  display: flex;
  gap: $selectors-gap;
  align-self: flex-start;
}

.select {
  width: $selector-width;
  &__label {
    font-weight: bold;
  }
  &-wrapper {
    user-select: none;
  }
  &__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 11px 0 11px 19px;
    margin-bottom: 5px;
    height: 69px;
    border: none;
    border-radius: 7px;
    &_ingredients {
      background-color: $secondary-color;
    }
    &_appareils {
      background-color: $tertiary-color;
      left: 200px;
    }
    &_ustensiles {
      background-color: $quaternary-color;
    }
  }
  &__input {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    width: 80%;
    height: 100%;
    font-size: 1.1rem;
    &::placeholder {
      color: white;
      font-size: 1.1rem;
    }
    &:focus::placeholder {
      opacity: 0;
    }
    &_dimmed {
      opacity: 0.6;
      color: #c7bebe;
    }
  }
}

#select_appareils {
  left: 275px;
}
#select_ustensiles {
  left: 483px;
}

.custom-options {
  max-width: 800px;
  color: white;
  columns: 3;
  left: 0;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  padding: 0 10px 18px;
}

.select.open .custom-options,
.select.open .list-bg {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  display: block;
  line-height: 2.5rem;
  font-size: 20px;
  color: white;
  padding: 0 20px;
  border: none;
  position: relative;
  &:focus {
    z-index: 100;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba($primary-color, 0.5);
    border-radius: 2px;
  }
  &_last {
    border-radius: 0 0 7px 7px;
  }
  &_ingredients {
    background-color: $secondary-color;
  }
  &_appareils {
    background-color: $tertiary-color;
  }
}

.no-btm-border-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

label[for='medias-sort'] {
  font-size: 1.25rem;
  font-weight: bold;
}

.arrow {
  &-container {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
  }
  position: relative;
  height: 9.88px;
  width: 16px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 0.2rem;
    height: 100%;
    transition: all 0.5s;
  }
  &::before {
    left: -1px;
    transform: rotate(-45deg);
    background-color: white;
  }
  &::after {
    left: 5px;
    transform: rotate(45deg);
    background-color: white;
  }
}

.open {
  & .arrow {
    &::before {
      left: -1px;
      transform: rotate(45deg);
    }

    &::after {
      left: 5px;
      transform: rotate(-45deg);
    }
  }
}

.list-bg {
  min-width: 640px;
  max-width: 800px;
  max-height: 660px;
  border-radius: 5px;
  transition: all 0.5s;
  opacity: 0;
  z-index: 20;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  &_ingredients {
    background-color: $secondary-color;
  }
  &_appareils {
    background-color: $tertiary-color;
    left: 0;
  }
  &_ustensiles {
    background-color: $quaternary-color;
    left: 0;
  }
}

.hidden {
  display: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 20px;
  border: 8px solid transparent;
  background-clip: content-box;
}

.tags__error {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  line-height: 3rem;
  padding-top: 15px;
}
