@use '../utils/variables' as *;

.snackbar {
  background: $secondary-color;
  color: white;
  padding: 30px 35px;
  position: fixed;
  top: 30px;
  right: 40px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1.2px;
  animation: fade 3s forwards;
  font-family: 'Roboto', sans-serif;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

.hidden {
  display: none;
}
