@use '../utils/variables' as *;

.tags {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.tag {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  color: white;
  margin-bottom: 15px;
  margin-right: 15px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: $secondary-color;
  font-size: 1.2rem;
  & > *:first-child {
    text-align: center;
    flex-grow: 2;
    margin-right: 5px;
  }
  &_ingredients {
    background-color: $secondary-color;
  }
  &_appliance {
    background-color: $tertiary-color;
  }
  &_ustensils {
    background-color: $quaternary-color;
  }
}
